@model CMS_DTO.CMSProduct.ProductViewModels
@using CMS_Shared;
@{
    ViewBag.Title = "Chi tiết bộ sưu tập 2";
}

<!-- Start Page header -->
<div class="page-header parallax" style="background-image:url(images/page_header3.jpg);">
    <div class="container">
        <h1 class="page-title">Chi tiết bộ sưu tập 2</h1>
    </div>
</div>
<!-- Utiity Bar -->
<div class="utility-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-8">
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Chi tiết bộ sưu tập 2</li>
                </ol>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4">
                @Html.Partial("_SocialTab")
            </div>
        </div>
    </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            @Html.Partial("_CollectionFilter")
            <div class="row">
                <ul class="sort-destination gallery-grid" data-sort-id="gallery">
                    @if (Model.ListCollect != null && Model.ListCollect.Any())
                    {
                        foreach (var item in Model.ListCollect)
                        {
                            if (item.TypeLink == (int)Commons.ETypeLink.Images)
                            {
                                <li class="col-md-6 col-sm-6 grid-item format-image images">
                                    <div class="grid-item-inner">
                                        <a href="@item.ImageURL" data-rel="prettyPhoto" class="media-box"> <img src="@item.ImageURL" alt=""> </a>
                                        <div class="grid-content">
                                            <h3 class="post-title">@item.CollectionName</h3>
                                            <div>@Html.Raw(item.Description)</div>
                                        </div>
                                    </div>
                                </li>
                            }
                            if (item.TypeLink == (int)Commons.ETypeLink.Links)
                            {
                                <li class="col-md-6 col-sm-6 grid-item format-link links">
                                    <div class="grid-item-inner"> <a href="@item.Link" target="_blank" class="media-box"> <img src="@item.ImageURL" alt=""> </a> </div>
                                    <div class="grid-content">
                                        <h3 class="post-title">@item.CollectionName</h3>
                                        <p>@Html.Raw(item.Description)</p>
                                    </div>
                                </li>
                            }
                            if (item.TypeLink == (int)Commons.ETypeLink.Videos)
                            {
                                <li class="col-md-6 col-sm-6 grid-item format-video videos">
                                    <div class="grid-item-inner">
                                        <a href="@item.Link" data-rel="prettyPhoto" class="media-box"> <img src="@item.ImageURL" alt=""> </a>
                                        <div class="grid-content">
                                            <h3 class="post-title">@item.CollectionName</h3>
                                            <p>@Html.Raw(item.Description)</p>
                                        </div>
                                    </div>
                                </li>
                            }
                            if (item.TypeLink == (int)Commons.ETypeLink.Sliders)
                            {
                                <li class="col-md-6 col-sm-6 grid-item format-gallery galleries">
                                    <div class="grid-item-inner">
                                        <div class="media-box">
                                            <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="slide" data-pause="yes">
                                                <ul class="slides">
                                                    <li class="item"><a href="@item.ImageURL" data-rel="prettyPhoto[postname]"><img src="@item.ImageURL" alt=""></a></li>
                                                    @if (item.ListImageUrl != null && item.ListImageUrl.Any())
                                                    {
                                                        foreach (var itemChild in item.ListImageUrl)
                                                        {
                                                            <li class="item"><a href="@itemChild" data-rel="prettyPhoto[postname]"><img src="@itemChild" alt=""></a></li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="grid-content">
                                            <h3 class="post-title">@item.CollectionName</h3>
                                            <p>@Html.Raw(item.Description)</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        }
                    }
                </ul>
            </div>
            <!-- Pagination -->
            <ul class="pager pull-right">
                <li><a href="#">&larr; Trước</a></li>
                <li><a href="#">Sau &rarr;</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- End Body Content -->
