@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header parallax" style="background-image:url(@Url.Content("~/Images/page_header3.jpg"));">
    <div class="container">
        <h1 class="page-title">Blog Masonry</h1>
    </div>
</div>
<!-- Utiity Bar -->
<div class="utility-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-8">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Blog Masonry</li>
                </ol>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4">
                <ul class="utility-icons social-icons social-icons-colored">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="googleplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="gallery-filter">
                <ul class="nav nav-pills sort-source" data-sort-id="gallery" data-option-key="filter">
                    <li data-option-value="*" class="active"><a href="#"><i class="fa fa-th"></i> <span>Show All</span></a></li>
                    <li data-option-value=".format-image"><a href="#"><i class="fa fa-picture-o"></i> <span>Images</span></a></li>
                    <li data-option-value=".format-link"><a href="#"><i class="fa fa-link"></i> <span>Links</span></a></li>
                    <li data-option-value=".format-gallery"><a href="#"><i class="fa fa-camera"></i> <span>Sliders</span></a></li>
                    <li data-option-value=".format-video"><a href="#"><i class="fa fa-play"></i> <span>Videos</span></a></li>
                </ul>
            </div>
            <div class="row">
                <ul class="sort-destination gallery-grid" data-sort-id="gallery">
                    <li class="col-md-3 col-sm-4 grid-item format-image images">
                        <div class="grid-item-inner">
                            <a href="@Url.Content("~/Uploads/Categories/car3-in.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/Uploads/Categories/car3-in.jpg")" alt=""> </a>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 grid-item format-gallery galleries">
                        <div class="grid-item-inner">
                            <div class="media-box">
                                <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="slide" data-pause="yes">
                                    <ul class="slides">
                                        <li class="item"><a href="@Url.Content("~/Uploads/Categories/car3.jpg")" data-rel="prettyPhoto[postname]"><img src="@Url.Content("~/Uploads/Categories/car2.jpg")" alt=""></a></li>
                                        <li class="item"><a href="@Url.Content("~/Uploads/Categories/car2.jpg")" data-rel="prettyPhoto[postname]"><img src="@Url.Content("~/Uploads/Categories/car3.jpg")" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 grid-item format-video videos">
                        <div class="grid-item-inner">
                            <a href="https://vimeo.com/19564018" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/Uploads/Categories/car2-in.jpg")" alt=""> </a>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 grid-item format-link links">
                        <div class="grid-item-inner">
                            <a href="http://www.google.com" target="_blank" class="media-box"> <img src="@Url.Content("~/Uploads/Categories/car4.jpg")" alt=""> </a>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 grid-item format-video videos">
                        <div class="grid-item-inner">
                            <a href="https://vimeo.com/19564018" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/Uploads/Categories/car4-in.jpg")" alt=""> </a>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 grid-item format-image images">
                        <div class="grid-item-inner">
                            <a href="@Url.Content("~/Uploads/Categories/car3.jpg")" data-rel="prettyPhoto" class="media-box"> <img src="@Url.Content("~/Uploads/Categories/car3.jpg")" alt=""> </a>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 grid-item format-gallery galleries">
                        <div class="grid-item-inner">
                            <div class="media-box">
                                <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="slide" data-pause="yes">
                                    <ul class="slides">
                                        <li class="item"><a href="@Url.Content("~/Uploads/Categories/car5.jpg")" data-rel="prettyPhoto[postname]"><img src="@Url.Content("~/Uploads/Categories/car5.jpg")" alt=""></a></li>
                                        <li class="item"><a href="@Url.Content("~/Uploads/Categories/car6.jpg")" data-rel="prettyPhoto[postname]"><img src="@Url.Content("~/Uploads/Categories/car6.jpg")" alt=""></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-4 grid-item format-link links">
                        <div class="grid-item-inner">
                            <a href="http://www.google.com" target="_blank" class="media-box"> <img src="@Url.Content("~/Uploads/Categories/car1-in.jpg")" alt=""> </a>
                            <div class="grid-content">
                                <h3 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Pagination -->
            <ul class="pager pull-right">
                <li><a href="#">&larr; Older</a></li>
                <li><a href="#">Newer &rarr;</a></li>
            </ul>
        </div>
    </div>
</div>
