@{
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string action = (string)ViewContext.RouteData.Values["action"];
}
@using CMS_Shared;

<!DOCTYPE html>
<html class="no-js" ng-app="appWebBEAUSTORYt">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project</title>

    <script src="@Url.Content("~/Scripts/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <!-- animate css -->
    <link href="@Url.Content("~/Content/layout.css")" rel="stylesheet" />
    <!-- bootstrap css -->
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <!-- nivo slider css -->
    <link href="@Url.Content("~/Content/star-rating.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <!-- modernizr js -->
    <script src="@Url.Content("~/Scripts/modernizr.js")"></script>
    <script src="@Url.Content("~/Scripts/js.cookie.min.js")"></script>
    <script src="@Url.Content("~/Scripts/InitCookie.js")"></script>
    <script src="@Url.Content("~/Scripts/star-rating.js")"></script>
</head>

<body>
    <header id="header_nhom">
        @Html.Partial("_header")
    </header>
    <div class="mobile_menu">
        <div class="search">
            <input type="text">
            <a href="danhsachsanpham.html">
                <button type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </a>
        </div>
        <ul>
            <li><a href="danhsachsanpham.html">Danh mục Sản phẩm</a></li>
            <li><a href="danhsachsanpham.html">Khuyến Mãi</a></li>
            <li><a href="danhsachloikhuyen.html">Lời Khuyên</a></li>
            <li><a href="danhsachsanpham.html">Sản phẩm khác</a></li>
            <li><a href="chitietsanpham.html">Nước Hoa</a></li>
        </ul>
    </div>
    <!-- Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h3>Đăng nhập tài khoản</h3>
                <label><input type="text" name="" placeholder="Nhập email hoặc số điện thoại"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></label>
                <label><input type="password" name="" placeholder="Nhập mật khẩu từ 6 - 32 ký tự"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
                <p class="text text-first">Bạn chưa có tài khoản? <a href="#" data-toggle="modal" data-target="#registerModal"><b>Đăng ký ngay</b></a></p>
                <p class="text">Quên mật khẩu?</p>
                <button>Đăng nhập</button>
                <p class="text">Nhắn ngay cho chúng tôi khi<br> bạn cần giúp?</p>
                <div class="function_social">
                    <a href="#" class="messenger"></a>
                    <a href="#" class="google"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Register -->
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <h3>Đăng ký tài khoản</h3>
                <label><input type="text" name="" placeholder="Nhập email hoặc số điện thoại"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></label>
                <label><input type="password" name="" placeholder="Nhập mật khẩu từ 6 - 32 ký tự"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></label>
                <label><input type="password" name="" placeholder="Họ tên"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></label>
                <div class="birthday">
                    <select>
                        <option>Ngày</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        <option>16</option>
                        <option>17</option>
                        <option>18</option>
                        <option>19</option>
                        <option>20</option>
                        <option>21</option>
                        <option>22</option>
                        <option>23</option>
                        <option>24</option>
                        <option>25</option>
                        <option>26</option>
                        <option>27</option>
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                    <select>
                        <option>Tháng</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                    </select>
                    <select>
                        <option>Năm sinh</option>
                        <option>1995</option>
                        <option>1996</option>
                        <option>1997</option>
                        <option>1998</option>
                        <option>1999</option>
                        <option>2000</option>
                    </select>
                </div>
                <p class="text-first">Nhập thông tin khuyến mãi qua e-mail</p>
                <p>Tôi đã đọc và đồng ý thực hiện mọi giao dịch mua bán theo <span class="red-color">điều kiện sử dụng và chính sách</span> của Beaustory.vn</p>
                <button>Đăng ký</button>
                <p>Bạn đã có tài khoản? <a href="#" class="green-color">ĐĂNG NHẬP</a></p>
                <p>Hoặc đăng nhập với:</p>
                <div class="function_social">
                    <a href="#" class="google"></a>
                </div>
            </div>
        </div>
    </div>
    <main class="nhom_container">
        @RenderBody()
    </main>
    <div class="nhom_footer">
        @Html.Partial("_footer")
    </div>
    <!-- bootstrap -->
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    @*<script src="@Url.Content("~/Scripts/script.js")"></script>*@
    <script src="@Url.Content("~/Scripts/jquery_cookie.js")"></script>
    <script type="text/javascript">
        //w3schol tao slider
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            x[slideIndex - 1].style.display = "block";
        }
        $(".header_bar").click(function () {
            $(".mobile_menu").slideToggle();
        });
    </script>
    <script type="text/javascript">
        var GridView;
        function GridViewFunction() {
            var GridView = setTimeout(function () {
                $("#results-holder").removeClass("results-list-view");
                $("#results-holder").addClass("results-grid-view");
                $("#results-list-view").removeClass("active");
                $("#results-grid-view").addClass("active");
                $('body,html').animate({ scrollTop: "212" }, 750, 'easeOutExpo');
            }, 800);
        }
        function GridViewStopFunction() {
            clearTimeout(GridView);
        }
        var ListView;
        function ListViewFunction() {
            var ListView = setTimeout(function () {
                $("#results-holder").removeClass("results-grid-view");
                $("#results-holder").addClass("results-list-view");
                $("#results-grid-view").removeClass("active");
                $("#results-list-view").addClass("active");
                $("#results-holder").find(".result-item").css("height", "auto");
                $('body,html').animate({ scrollTop: "212" }, 750, 'easeOutExpo');
            }, 800);
        }
        function ListViewStopFunction() {
            clearTimeout(ListView);
        }
        $("#results-grid-view").on("click", function () {
            GridViewFunction();
            GridViewStopFunction();
            return false;
        });

        $("#results-list-view").on("click", function () {
            ListViewFunction();
            ListViewStopFunction();
            return false;
        });

        var app = angular.module("appWebBEAUSTORYt", []);
        app.controller("CartCtrl", ["$scope", "$rootScope", function ($scope, $rootScope) {
            $scope.quantityDefault = 1;
            $rootScope.Products = getListOrder();
            /* add cart */
            $scope.AddToCart = function (ItemId, UnitId, Qty, Price, ImageUrl, Name, Alias) {
                var _Order = {
                    ItemId: ItemId,
                    UnitId: UnitId,
                    Quantity: Qty,
                    Price: Price,
                    Name: Name,
                    Alias: Alias,
                    ImageUrl: ImageUrl,
                    CreateDate: '@DateTime.Now',
                };
                CreateOrUpdateOrder(_Order);
                $rootScope.Products = getListOrder();
                $scope.setTotals($rootScope.Products);
                //$('[id=AjaxifyModal]').removeClass("hidden");
                $(window).scrollTop(0);
            }
            /* close modal */
            $scope.CloseCart = function () {
                $('[id=AjaxifyModal]').addClass("hidden");
            }

            /* update qty of order by order id */
            $scope.UpdateQtyOrder = function ($index) {
                UpdateQuantity($rootScope.Products[$index].ItemId, $rootScope.Products[$index].Quantity);
                var Orders = getListOrder();
                $scope.setTotals(Orders);
            }
            /* count total bill of order */
            $scope.setTotals = function (Orders) {
                var _OrderTotal = 0;
                angular.forEach(Orders, function (item, index) {
                    _OrderTotal += item.Quantity * item.Price;
                });
                $rootScope.OrderTotal = _OrderTotal;
            }

            $scope.QtyAdjust = function ($index, type) {
                if (type == 0) {
                    $rootScope.Products[$index].Quantity -= 1;
                    if (parseInt($rootScope.Products[$index].Quantity) < 1)
                        $rootScope.Products[$index].Quantity = 1;
                }
                else {
                    $rootScope.Products[$index].Quantity += 1;
                }
                UpdateQuantity($rootScope.Products[$index].ItemId, $rootScope.Products[$index].Quantity);
                var Orders = getListOrder();
                $scope.setTotals(Orders);
            }

            $scope.QtyAdjustNoOrder = function (type) {
                if (type == 0) {

                    $scope.Qty = $scope.Qty - 1;
                    if (parseInt($scope.Qty) < 1)
                        $scope.Qty = 1;
                }
                else {
                    $scope.Qty = $scope.Qty + 1;
                }
            }

            $scope.ngChangeQty = function () {
                if (parseInt($scope.Qty) < 1)
                    $scope.Qty = 1;
            }

            $scope.ngBlur = function () {
                if ($scope.Qty.length == 0)
                    $scope.Qty = 1;
            }
            $scope.ngBlurModal = function ($index) {
                if ($rootScope.Products[$index].Quantity.length == 0) {
                    $rootScope.Products[$index].Quantity = 1;
                    UpdateQuantity($rootScope.Products[$index].ItemId, $rootScope.Products[$index].Quantity);
                    var Orders = getListOrder();
                    $scope.setTotals(Orders);
                }

            }

            $scope.RemoveItemOrder = function ($index) {
                RemoveOrderByItemId($rootScope.Products[$index].ItemId);
                var Orders = getListOrder();
                $rootScope.Products = Orders;
                $scope.setTotals(Orders);
            }

            $scope.getTotal = function () {
                var total = 0;
                if ($rootScope.Products != null) {
                    for (var i = 0; i < $rootScope.Products.length; i++) {
                        var product = $rootScope.Products[i];
                        total += (product.Price * product.Quantity);
                    }
                }
                return total;
            }
        }]);

        $(document).ready(function () {
            getListOrder();
            $('.mainnav ul.nav > li:first-child').addClass('active');
            new WOW().init();
        });
    </script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>
        function UserLogin() {
            var _email = $("#idusername").val();
            var _password = $("#idpassword").val();
            var model = { Email: _email, Password: _password }
            if (_email != null && _email.length > 0 && _password != null && _password.length > 0) {
                $.ajax({
                    url: "@Url.Action("SignIn", "Login")",
                    type: "GET",
                    data: model,
                    dataType: 'json',
                    beforeSend: function () {
                        //$('.se-pre-con').show();
                    },
                    success: function (data) {
                        if (data.Success == false) {
                            $('[id=idusernameeror]').show();
                        }
                    },
                    complete: function () {
                        //  $('.se-pre-con').hide();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
            }
        }
    </script>

</body>
</html>

