@model CMS_DTO.CMSOrder.CMS_CheckOutModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ul class="nhom_menu_01">
    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
    <li><a href="@Url.Action("Index","Shop")">Danh sách sản phẩm</a></li>
    <li><a href="@Url.Action("Index","Advice")">Lời khuyên</a></li>
</ul>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <form action="@Url.Action("CheckOut", "Cart")" id="order-form" method="post" enctype="multipart/form-data">
            <div class="box_title01 edit-01">
                <div>Thông tin nhận hàng</div>
                <span class="text-ico-01"><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i>Bạn đã đăng nhập</span>
            </div>
            <div class="text-ico-01"><i class="glyphicon glyphicon-ok-sign" aria-hidden="true"></i>Đỗ Mỹ Duyên 126/1 đường 100 bình thới, Phường 14, Quận 11, Hồ Chí Minh Điện thoại: 0703338683</div>
            <input type="text" class="input1" placeholder="+ Thêm địa chỉ khác">
            <span class="note-01">Ghi chú</span>
            <input type="text" class="input2" placeholder="Nhập ghi chú (nếu có)">
            <div>
                <div class="box_title01">Vận chuyển & thanh toán</div>
                <div class="border-01 padding">
                    <span class="note-02">Hình thức vận chuyển</span>
                    <label><input type="radio" name="exampleRadios" value="option1">Giao hàng trong 48 giờ: 0 đ</label>
                    <label><input type="radio" name="exampleRadios" value="option1">[NowFree] Giao hàng nhanh trong 2 giờ: 0 đ (Nhận hàng trước 18h hôm nay)</label>
                    <span class="note-02">Phương thức thanh toán</span>
                    <label><input type="radio" name="exampleRadios" value="option1">Thanh toán tiền khi nhận hàng (COD)</label>
                    <label><input type="radio" name="exampleRadios" value="option1">Thanh toán trực tuyến (Internet Banking, VNPAY-QR, Ví điện tử VNPAY, Visa - Miễn phí thanh toán) (Xem thêm)</label>
                </div>
                <div class="box_title01">
                    <label><input type="checkbox" name="exampleRadios" value="option1">Thông tin xuất hóa đơn</label>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-12 col-md-4" ng-controller="CartCtrl">
        <div>
            <div class="box_title01 edit-01 edit-02">
                <div>Đơn hàng</div>
                <div>Sửa</div>
            </div>
            <div class="border-02">
                <div class="box-01" ng-repeat="item in Products">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="product">
                                <img ng-src="{{item.ImageUrl}}" ng-alt="{{item.Name}}">
                                <p>{{item.Name}}</p>
                            </div>
                        </div>
                        <div class="col-xs-3 text-right">{{item.Price | currency : '' : 0}} VNĐ</div>
                    </div>
                </div>
                <div class="box-01">
                    <div class="row">
                        <div class="col-xs-6">Tạm tính:</div>
                        <div class="col-xs-6 text-right"><span class="totalPay">{{getTotal() | currency : '' : 0}}</span> VNĐ</div>
                        <div class="col-xs-6">Giảm giá:</div>
                        <div class="col-xs-6 text-right">-0 đ</div>
                    </div>
                    <div class="input-group">
                        <input id="idDiscount" type="text" class="form-control" placeholder="Nhập mã giảm giá" aria-describedby="basic-addon2">
                        <a onclick="ApprovelDisount()" class="input-group-addon">Sử dụng</a>
                    </div>
                    <label style="display: none" class="error-discount text-danger">Mã giảm giá không đúng!<br /></label>
                    <span>Bạn có phiếu mua hàng ?</span>
                    @*<select>
                        <option value="">Chọn loại phiếu</option>
                        <option value="">A</option>
                        <option value="">B</option>
                        <option value="">C</option>
                    </select>*@
                    @*<div class="input-group">
                        <input type="text" class="form-control" placeholder="Nhập mã Voucher" aria-describedby="basic-addon2">
                        <span class="input-group-addon">Sử dụng</span>
                    </div>*@
                </div>
                <div class="box-01">
                    <div class="row">
                        <div class="col-xs-6">Phí vận chuyển</div>
                        <div class="col-xs-6 text-right">0 đ</div>
                    </div>
                </div>
                <div class="box-01">
                    <div class="row">
                        <div class="col-xs-6">Thành tiền <br>(Đã bao gồm VAT)</div>
                        <div class="col-xs-6 text-right color-red"><span class="totalPay">{{getTotal() | currency : '' : 0}}</span> VNĐ</div>
                    </div>
                    <button class="dathang">ĐẶT HÀNG</button>
                </div>
            </div>
        </div>

        <span class="note-03">Hình thức vận chuyển</span>
        <img src="/Images/thanhtoan.png" alt="">
    </div>
</div>
<script>

    function ApprovelDisount() {
        var _dis = $('#idDiscount').val();
        if (_dis.length > 0) {
            $.ajax({
                    beforeSend: function () {
                    },
                    url: '@Url.Action("CheckDiscount", "Cart")',
                    type: "get",
                    data: { Discount: _dis },
                    success: function (data) {
                        if (data.ok == false) {
                            $('.error-discount').attr("display", "block");
                        } else {
                            $('.error-discount').attr("display", "none");
                            $('.totalPay').val(data.Total).trigger('change');
                        }
                    },
                    complete: function () {
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                    }
                });
        }
    }
</script>