@model CMS_DTO.CMSProduct.ProductViewModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lời khuyên";
}
<ul class="nhom_menu_01">
    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
    <li><a href="@Url.Action("Index","Shop")">Danh sách sản phẩm</a></li>
    <li><a href="@Url.Action("Index","Advice")">Lời khuyên</a></li>
</ul>
<header>
    <h1>ĐÁNH BAY MỤN NẾU BẠN BIẾT CÁCH???</h1>
</header>
<div class="Bia">
    <img class="anhlon" src="/Images/Rectangle.png" alt="" />
</div>
<div class="Noidung">
    <h3>Tại sao bạn bị mụn?</h3>
    <p>
        Nếu nói theo lý thuyết thì sẽ rất dài dòng và khó hiểu cho nên Oanh sẽ trích dẫn một đoạn trong sách “dưỡng da trọn gói” và kèm theo một video clip ngắn để các chị dễ hình dung nhất nhé.
    </p>
    <p>
        “Mụn là những khuyết điểm nhỏ trên da. Nó dễ lên, cũng mau lặn, và đa số chung ta không gặp vấn đề về mụn hết ngày này qua tháng khác.
    </p>
    <p>
        Da chúng ta cũng rất kỳ diệu, nó có thể tự chữa được vấn dề này. Tuy vậy, nếu môt nốt mụn trở nên trầm trọng, nó có thể gây ra những vấn đề lâu dài như làm nở lỗ chân lông, gây sẹo hoặc những vết thâm kéo dài vài tháng (thậm chí nữa năm). Vì thế, bạn nên xử lý một vết mụn từ sớm và triệt để, hơn là để mặc nó.
    </p>
    <p>
        Có nhiều loại mụn khác nhau, nhưng nhìn chung, mụn là một nang lông bị tắc nghẽn. Nang lông giống như một cái giếng, có nhiều thứ có  thể mắc kẹt ở cái giếng đó như:
    </p>
    <p>Da chết.</p>
    <p>Bụi bẩn.</p>
    <p>Một số thành phần mỹ phẩm.</p>
    <p>
        Một trong những mục đích của tuyết bã nhờn là đào thải những thứ mắc kẹt trong nang lông, không để chúng có cơ hội đi sâu vào cơ thể và gây hại.
    </p>
    <p>
        Thông thường, khi một nang lông bị ách tắc, tuyến bã nhờn tại nang lông đó sẽ hoạt động mạnh hơn. Đôi khi, tuyến bã nhờn thắng, nó “phóng sinh” được những vật chất kia. Nhưng cũng có nhiều lúc nó thua cuộc.
    </p>
    <p>
        Phần dầu quện lấy những thứ mắc kẹt trở thành một cái nút. Cái nút này chính là MỤN.
    </p>
    <h3>Tại sao axit salyxic là khắc tinh của mụn trứng ca?</h3>
    <p>
        Axit Salicylic là một phiên bản của beta hydroxy acid – một dạng axit gốc dầu mang khả năng phá vỡ keratin và protein bị hư hỏng trên da. Từ đây, chúng sẽ góp phần làm sạch tế bào da chết cũng như giúp lỗ chân lông thêm phần thông thoáng.

    </p>
    <p>
        Với công dụng nói trên, vậy bạn đã biết cơ chế hoạt động thực sự của Axit Salicylic là gì hay chưa? Bởi đặc tính vô cùng độc đáo, axit salicylic sẽ hoạt động trên mụn trứng cá theo hai cách khác nhau. Đầu tiên, nó tẩy tế bào chết và loại bỏ mối liên kết giữa các tế bào da chết trên bề mặt da.
    </p>
    <p>
        Sau đó, chất bẩn, bụi bẩn còn lại sẽ được axit salicylic thu hút, được loại bỏ tuyệt đối khỏi lỗ chân lông, giúp da bạn thêm phần thông thoáng và ngăn ngừa mụn
    </p>
    <h3>Chu trình chăm sóc da đánh bay mụn.</h3>
    <h3>Bước 1: Làm sạch:</h3>
    <p>
        Đây là điều cực kỳ quan trọng đối với chăm sóc da.Cho dù bạn không bị mụn cũng như bị mụn bởi vì muốn có một làn da đẹp trước tiên là da đó phải đảm bảo sạch
    </p>
    <p>
        LỜI KHUYÊN: ÁP DỤNG SẢN PHẨM DỊU NHẸ ÍT TẠO BỌT HOẶC SẢN PHẨM ĐẢM BẢO KHI RỬA XONG BẠN CẢM NHẬN ĐƯỢC LÀN DA SẠCH MÀ KHÔNG KHÔ :))KHUYẾN KHÍNH SẢN PHẨM CHỨA AXIT SALLYCILIC .ĐẶC BIỆT MÌNH TÍCH E NÀY
    </p>
    <h3>Bước 2: Cân bằng da:</h3>
    <p>
        Sau khi da đã sạch lúc này da đang bị mất nước độ ph giảm nên các bạn gái phải cân bằng lại cho da để da hấp thu tốt tiếp các bước sau bạn nên chọn các sản phẩm dịu nhẹ không kích ứng da. tại vì da mụn rất dễ kích ứng đấy nha nên mình hạn chế bôi gì lên da chỉ khi nào hết mụn thì bạn mới chăm sóc da kỹ bởi nhiều sản phẩm
    </p>
    <h3>Bước 3: Bắt tay vào trị mụn với sản phẩm đặc trị:</h3>
    <p>
        Đây là bước cực kỳ quan trọng nha :)) muốn hết mụn thì phải trị mụn.Không phải sản phẩm nào cũng trị mụn hiệu quả đâu nha các bạn.Bởi vì mình đã thử rất nhiều sản phẩm đôi khi giá thành nó cao nhưng nó không hề hiệu quả vá qua nhiều lần thử nghiwwmj của mình mình đã rút ra kinh nghiệm là dùng e này
    </p>
    <h3>Bước 4: Nuôi dưỡng da:</h3>
    <p>
        Đây là điiều cực kỳ quan trọng đối với chăm sóc da.Cho dù bạn không bị mụn cũng như bị mụn bởi vì muốn có một làn da đẹp trước tiên là da đó phải đảm bảo sạch
    </p>
    <p>
        LỜI KHUYÊN: ÁP DỤNG SẢN PHẨM DỊU NHẸ ÍT TẠO BỌT HOẶC SẢN PHẨM ĐẢM BẢO KHI RỬA XONG BẠN CẢM NHẬN ĐƯỢC LÀN DA SẠCH MÀ KHÔNG KHÔ :))KHUYẾN KHÍNH SẢN PHẨM CHỨA AXIT SALLYCILIC .ĐẶC BIỆT MÌNH TÍCH E NÀY
    </p>
</div>
<section>
    <h2 class="nhom_title03">SẢN PHẨM</h2>
    <div class="nhom_list">
        @if (Model.ListProduct != null && Model.ListProduct.Any())
        {
            foreach (var item in Model.ListProduct.Skip(0).Take(5))
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    <input value="@item.StarType" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="@item.StarType" title="">
                    <div class="progress">
                        @{if (item.Quantity > 0)
                            {
                                int _per = (item.Quantity - item.QuantitySale) * 100 / item.Quantity;
                                <span>Còn lại @_per %</span>
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                            }
                            else
                            {
                                <span>Còn lại 0 %</span>
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                            }
                        }
                    </div>
                </a>
            }
        }        
    </div>
</section>

<div class="container">
    <h2 class="nhom_title03">BÀI VIẾT LIÊN QUAN</h2>
    <div class="row grid-demo">
        <div class="col-md-4">
            <a href="#">
                <img src="/Images/Rectangle_2.png" alt="">
                <h3 class="title">10 CÁCH TRỊ MỤN TẠI NHÀ BẠN CÓ THỂ ÁP DỤNG NGAY</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="/Images/Rectangle_2.1.png" alt="">
                <h3 class="title">10 CÁCH TRỊ MỤN TẠI NHÀ BẠN CÓ THỂ ÁP DỤNG NGAY</h3>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#">
                <img src="/Images/Rectangle_2.2.png" alt="">
                <h3 class="title">10 CÁCH TRỊ MỤN TẠI NHÀ BẠN CÓ THỂ ÁP DỤNG NGAY</h3>
            </a>
        </div>

    </div>
</div>
