
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CMS_DTO.CMSProduct.ProductViewModels
<script src="~/Content/jquery.ez-plus.js"></script>
<script src="~/Content/web.js"></script>
<main class="nhom_container" ng-controller="CartCtrl">
    <h1>@Model.ProductModel.ProductName</h1>
    <div class="nhom_product">
        <div class="nhom_gallery">
            <img width="100%" id="img_01"
                 src="@Url.Content(Model.ProductModel.ImageURL)"
                 data-zoom-image="@Url.Content(Model.ProductModel.ImageURL)" />

            @if (Model.ProductModel.ListImg != null && Model.ProductModel.ListImg.Any())
            {
                <div id="gal1">
                    @foreach (var img in Model.ProductModel.ListImg)
                    {
                        <a href="#" class="elevatezoom-gallery" data-update=""
                           data-image="@Url.Content(img.ImageURL)"
                           data-zoom-image="@Url.Content(img.ImageURL)">
                            <img src="@Url.Content(img.ImageURL)"
                                 width="100%" />
                        </a>
                    }
                </div>
            }

        </div>
        <div class="nhom_details">
            <p>
                Tình trạng: Còn hàng<br>
                Mã sản phẩm: @Model.ProductModel.ProductCode
            </p>
            <p>@Model.ProductModel.Short_Description</p>
            <span class="price">@Model.ProductModel.sPrice</span>
            <span class="price_sale">@Model.ProductModel.sPrice</span>
            <p class="capacity">DUNG TÍCH: 500ML</p>
            <div class="amount" style="display: inline-flex">
                <p>SỐ LƯỢNG:</p>
                <a ng-click="AddToCart('@Model.ProductModel.Id', -1, '@Model.ProductModel.ProductPrice', '@Model.ProductModel.ImageURL', '@Model.ProductModel.ProductName');"><span id="amount-minis">-</span></a>
                <input type="text" id="amout-number" value="0">
                <a ng-click="AddToCart('@Model.ProductModel.Id', 1, '@Model.ProductModel.ProductPrice', '@Model.ProductModel.ImageURL', '@Model.ProductModel.ProductName');"><span id="amount-plus">+</span></a>

            </div>
        </div>
    </div>
    <div>
        <p id="textMore">@Html.Raw(Model.ProductModel.Description)</p>
    </div>
    @if (Model.ListSameProduct != null && Model.ListSameProduct.Any())
    {
        <section>
            <h2 class="nhom_title03">Sản Phẩm Tương Tự</h2>
            <div class="nhom_list">
                @foreach (var item in Model.ListSameProduct)
                {
                    <a style="text-decoration-line:none" href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                        <img src="@Url.Content(item.ImageURL)" alt="">
                        <h3 class="title">@item.ProductName</h3>
                        <span class="sale">@item.sPrice</span>
                        <span class="price">@item.sPrice</span>
                    </a>
                }
            </div>
        </section>
    }

</main>