@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageSize = 8;
}
@model CMS_DTO.CMSProduct.ProductViewModels
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Francois+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<main id="category-products" class="nhom_container">
    <div class="category-left">
        <h2 class="title_01"><i class="glyphicon glyphicon-filter"></i> FILTERS</h2>
        <div class="category-wrap">
            <h3 class="title_02">CATEGORY</h3>
            <div class="category-panel">
                @if (Model != null && Model.ListCate != null && Model.ListCate.Any())
                {
                    <ul class="list">
                        @foreach (var category in Model.ListCate)
                        {
                            <li> <a href="#">@category.CategoryName</a> </li>
                        }
                    </ul>
                }

            </div>
        </div>
    </div>
    <div class="category-right">
        <div class="category-select">
            <select class="pageSize" onchange="changeItemOfPage(this)">
                <option value="8">Show : 8</option>
                <option value="12">Show : 12</option>
                <option value="16">Show : 16</option>
                <option value="28">Show : 28</option>
            </select>
            <select class="sortBy" onchange="changeSortBy(this)">
                <option value="1">Sort By: Newest Items</option>
                <option value="2">Sort By: Latest Items</option>
                <option value="3">Sort By: Lowest Price</option>
                <option value="4">Sort By: Highest Price</option>
            </select>
        </div>
        @if (Model != null && Model.ListProduct != null && Model.ListProduct.Any())
        {
            <div class="nhom_list">
                @foreach (var product in Model.ListProduct)
                {
                    <a href="@Url.Action("Detail", "Shop", new { c = product.AliasCate, q = product.Alias })" style="text-decoration-line:none">
                        <img src="@Url.Content(product.ImageURL)" alt="">
                        <h3 class="title">@product.ProductName</h3>
                        <span class="sale">@product.sPrice</span>
                        <span class="price">@product.sPrice</span>
                    </a>
                }
            </div>

            <div class="category-breadcrumb">
                @for (var i = 1; i <= Model.TotalPage; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <span class="active">@i</span>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Shop", new { page = i, pageSize = Model.PageSize, sortBy = Model.CurrentSortBy })">@i</a>
                    }

                }
            </div>
        }
    </div>
</main>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.pageSize').val('@Model.PageSize')
        $('.sortBy').val('@Model.CurrentSortBy')
    })
    function changeItemOfPage(that) {
       var pageSize = $(that).val()
        var url = "@Url.Action("Index", "Shop", new { sortBy = Model.CurrentSortBy })";
        if (url.indexOf('?') > -1) {
            url += '&pageSize=' + pageSize
        } else {
            url += '?pageSize=' + pageSize
        }
        window.location.href = url;
    }

    function changeSortBy(that) {
        var sortBy = $(that).val()
        var url = "@Url.Action("Index", "Shop", new { page = Model.CurrentPage,pageSize = Model.PageSize })"
        url = url.replace("&amp;", "&")
        if (url.indexOf('?') > -1) {
            url += '&sortBy=' + sortBy
        } else {
            url += '?sortBy=' + sortBy
        }
        window.location.href = url;
    }
</script>
