@model CMS_DTO.CMSProduct.ProductViewModels
@{
    ViewBag.Title = "Search";
}

    <!-- Start Body Content -->
    <div class="main" role="main">
        <div id="content" class="content full dashboard-pages">
            <div class="container">
                <div class="dashboard-wrapper">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 users-sidebar-wrapper">
                            <!-- SIDEBAR -->
                            <div class="users-sidebar tbssticky">
                                <a href="user-dashboard.html" class="btn btn-block btn-primary add-listing-btn">Thông tin quản lý</a>
                                <ul class="list-group">
                                    <li class="list-group-item active"> <span class="badge">5</span> <a href="@Url.Action("Category","Account")"><i class="fa fa-home"></i> Menu</a></li>
                                    @*<li class="list-group-item"> <span class="badge">5</span> <a href="@Url.Action("ManagementSearch","Account")"><i class="fa fa-folder-o"></i> Search</a></li>*@
                                    <li class="list-group-item"> <span class="badge">12</span> <a href="@Url.Action("ManagementSave","Account")"><i class="fa fa-star-o"></i> Save trữ</a></li>
                                    @*<li class="list-group-item"> <a href="@Url.Action("ManagementRequest","Account")"><i class="fa fa-plus-square-o"></i> Tạo yêu cầu</a></li>*@
                                    @*<li class="list-group-item"> <span class="badge">2</span> <a href="@Url.Action("ManagementRequest","Account")"><i class="fa fa-edit"></i> Yêu cầu</a></li>*@
                                    @*<li class="list-group-item"> <a href="@Url.Action("DetailAccount","Account")"><i class="fa fa-user"></i> Thông tin cá nhân</a></li>*@
                                    <li class="list-group-item"> <a href="@Url.Action("EditAccount","Account")"><i class="fa fa-cog"></i> Quản lý thông tin</a></li>
                                    <li class="list-group-item"> <a href="@Url.Action("Logout","Login")"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8">
                            <h2>Search</h2>
                            <div class="dashboard-block">
                                <div class="dashboard-block-head">
                                    <a href="user-dashboard-saved-cars.html" class="btn btn-default btn-sm pull-right">Tất cả Search (5)</a>
                                    <h3>Search</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered dashboard-tables saved-searches-table">
                                        <thead>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>Từ Search</td>
                                                <td>Chi tiết</td>
                                                <td>Nhận thông báo</td>
                                                <td>Phát hành</td>
                                                <td>Chỉnh</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.ListProduct != null && Model.ListProduct.Any())
                                            {
                                                foreach (var item in Model.ListProduct)
                                                {
                                                    <tr>
                                                        <td valign="middle"><input type="checkbox"></td>
                                                        <td>
                                                            <a href="@Url.Action("Detail", "Shop", new { q = item.Alias })" class="search-name">@item.ProductName</a>
                                                        </td>
                                                        <td>@item.ProductName</td>
                                                        <td><a href="#"><select class="form-control selectpicker input-sm"><option>Enable</option><option>Disable</option></select></a></td>
                                                        <td><span class="text-success">Save ngày</span> @item.CreatedDate.ToString("MM/dd/yyyy") @Html.Raw("@") @item.CreatedDate.ToString("hh:mm")</td>
                                                        <td align="center"><button class="text-danger"><i class="fa fa-times"></i></button></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <button class="btn btn-default btn-sm disabled">Delete lựa cFirst namen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body Content -->
