@model CMS_DTO.CMSProduct.ProductViewModels
@using CMS_Shared.Utilities
@using CMS_Shared
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _ListSlider = Session["SliderSession"] as List<CMS_DTO.CMSSession.SliderSession>;
    var _ListCategory = Session["ListCateSession"] as List<CMS_DTO.CMSCategories.CMSCategoriesModels>;
}

<div class="nhom_group">
    <ul class="nhom_menu">
        <li><a href="@Url.Action("Index","Shop")">Danh mục Sản phẩm</a></li>
        <li><a href="@Url.Action("Index","Home")">Khuyến Mãi</a></li>
        <li><a href="@Url.Action("Index","Advice")">Lời Khuyên</a></li>
        <li><a href="@Url.Action("Index","Shop")">Sản phẩm khác</a></li>
        <li><a href="@Url.Action("Index","Shop")">Nước Hoa</a></li>
    </ul>
    <div class="nhom_banner">
        <div class="banner_left">
            <div class="banner_slider">
                <div class="w3-content w3-display-container">
                    <img class="mySlides" src="/Images/bn_01.png">
                    <img class="mySlides" src="/Images/bn_02.png">
                    <img class="mySlides" src="/Images/bn_03.png">
                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                </div>
            </div>
        </div>
        <div class="banner_right">
            <figure><img src="/Images/bn_02.png" alt=""></figure>
            <figure><img src="/Images/bn_03.png" alt=""></figure>
        </div>
    </div>
</div>
<div class="nhom_box">
    <h2 class="nhom_title04"><span>BÁN CHẠY</span></h2>
    <div class="nhom_list">
        @if (Model.ListProductTopSales != null && Model.ListProductTopSales.Any())
        {
            foreach (var item in Model.ListProductTopSales)
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    @*<input value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">*@
                    <div class="progress">
                        Còn lại 89%
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                    </div>
                </a>                
            }
        }        
    </div>
    <a href="@Url.Action("Index", "Shop")" class="nhom_readmore">XEM THÊM</a>
</div>
<figure>
    <img src="/Images/image_5.png" alt="">
</figure>
<section>
    <h2 class="nhom_title01"><span>Nước Tẩy Trang</span></h2>
    <div class="nhom_list">
        @if (Model.ListProduct != null && Model.ListProduct.Any())
        {
            foreach (var item in Model.ListProduct.Where(w=>w.CategoryType == (int)Commons.ECateType.NuocTayTrang).Skip(0).Take(10))
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    @*<input value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">*@
                    <div class="progress">
                        Còn lại 89%
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                    </div>
                </a>
            }
        }        
    </div>
    <div class="nhom_xemthem">
        <a href="@Url.Action("Index", "Shop")">Xem thêm</a>
    </div>

    <h2 class="nhom_title01"><span>Sữa Rửa Măt</span></h2>
    <div class="nhom_list">
        @if (Model.ListProduct != null && Model.ListProduct.Any())
        {
            foreach (var item in Model.ListProduct.Where(w => w.CategoryType == (int)Commons.ECateType.SuaRuaMat).Skip(0).Take(10))
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    @*<input value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">*@
                    <div class="progress">
                        Còn lại 89%
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                    </div>
                </a>
            }
        }        
    </div>
    <div class="nhom_xemthem">
        <a href="@Url.Action("Index", "Shop")">Xem thêm</a>
    </div>
</section>

<figure>
    <img src="/Images/hinh_02.JPG" alt="">
</figure>
<section>
    <h2 class="nhom_title01"><span>Tẩy Tế Bào Chết</span></h2>
    <div class="nhom_list">
        @if (Model.ListProduct != null && Model.ListProduct.Any())
        {
            foreach (var item in Model.ListProduct.Where(w => w.CategoryType == (int)Commons.ECateType.TayTeBaoChet).Skip(0).Take(10))
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    @*<input value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">*@
                    <div class="progress">
                        Còn lại 89%
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                    </div>
                </a>
            }
        }        
    </div>
    <div class="nhom_xemthem">
        <a href="@Url.Action("Index", "Shop")">Xem thêm</a>
    </div>
    <h2 class="nhom_title01"><span>Nước Hoa Hồng</span></h2>
    <div class="nhom_list">
        @if (Model.ListProduct != null && Model.ListProduct.Any())
        {
            foreach (var item in Model.ListProduct.Where(w => w.CategoryType == (int)Commons.ECateType.NuocHoaHong).Skip(0).Take(10))
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    @*<input value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">*@
                    <div class="progress">
                        Còn lại 89%
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                    </div>
                </a>
            }
        }        
    </div>
    <div class="nhom_xemthem">
        <a href="@Url.Action("Index", "Shop")">Xem thêm</a>
    </div>
</section>

<figure>
    <img src="/Images/hinh_03.JPG" alt="">
</figure>
<section>
    <h2 class="nhom_title01"><span>Kem Chống Nắng</span></h2>
    <div class="nhom_list">
        @if (Model.ListProduct != null && Model.ListProduct.Any())
        {
            foreach (var item in Model.ListProduct.Where(w => w.CategoryType == (int)Commons.ECateType.KemChongNang).Skip(0).Take(10))
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    @*<input value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">*@
                    <div class="progress">
                        Còn lại 89%
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                    </div>
                </a>
            }
        }        
    </div>
    <div class="nhom_xemthem">
        <a href="@Url.Action("Index", "Shop")">Xem thêm</a>
    </div>
    <h2 class="nhom_title01"><span>Sản Phẩm Khác</span></h2>
    <div class="nhom_list">
        @if (Model.ListProduct != null && Model.ListProduct.Any())
        {
            foreach (var item in Model.ListProduct.Skip(0).Take(10))
            {
                <a href="@Url.Action("Detail", "Shop", new { c = item.AliasCate, q = item.Alias })">
                    <img src="@item.ImageURL" alt="@item.ProductName" />
                    <h3 class="title">@item.ProductName</h3>
                    <span class="sale">@item.sPrice</span>
                    <span class="price">@item.sPrice</span>
                    @*<input value="0" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs" title="">*@
                    <div class="progress">
                        Còn lại 89%
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                    </div>
                </a>
            }
        }        
    </div>
    <div class="nhom_xemthem">
        <a href="@Url.Action("Index", "Shop")">Xem thêm</a>
    </div>
</section>
